In [7]:
from sqlalchemy import create_engine
import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)
import sqlalchemy
%config IPCompleter.greedy=True

core_address = 'analysts-dwh.cabify-data.com'
core_port = '5439'

f = open("/Users/santiagocanas/Downloads/redshift.txt", mode = "r")
file = f.readlines()

core_username = str(file[0].strip())
core_password = str(file[1].strip())
core_dbname = 'dwh'

dwh_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(
                        username = core_username,
                        password = core_password,
                        ipaddress = core_address,
                        port = core_port,
                        dbname = core_dbname))

dwh_cnx = create_engine(dwh_str)

In [ ]:
sql = '''
select
    pid,
    user_name,
    
    DATEDIFF('minute',starttime, current_timestamp::timestamp(0)) as running_time,
    cast(starttime as timestamp(0)) as starttime,
    status,
    query
from
    stv_recents
where
    status = 'Running';'''
status = pd.read_sql_query(sql, dwh_cnx)
status

In [14]:
sql = '''
select pg_terminate_backend(31594)'''
kill = pd.read_sql_query(sql, dwh_cnx)
kill

OperationalError: (psycopg2.OperationalError) could not connect to server: Operation timed out
	Is the server running on host "analysts-dwh.cabify-data.com" (52.212.206.36) and accepting
	TCP/IP connections on port 5439?

(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
sql = '''
select 
    distinct
        table_name,
        column_name, 
        table_catalog, 
        table_schema
from 
	information_schema.columns
where 
    table_name ilike '%%fin_dim_sale'
    and column_name ilike '%%iva%%'
'''

search = pd.read_sql_query(sql, dwh_cnx)
search

In [17]:
search['table_name'].unique()

array(['corp_agg_sf_account_every12h', 'easy_dim_passenger',
       'exc_dim_zopimagent', 'exc_fac_aircall', 'exc_fac_zendesk',
       'exc_fac_zopimchat', 'fin_dim_paymentmethod', 'fin_fac_payment',
       'fin_fac_paypalpaymenttransaction', 'fin_fac_paypalwinloss',
       'fin_fac_paypalwinloss_all_states', 'jib_braze_att',
       'jib_braze_att_v2', 'jib_braze_att_v3',
       'jib_braze_events_campaign', 'lgt_fac_applicantdetail',
       'lgt_fac_zendesk', 'mjp_braze_events', 'mjp_bz_att',
       'mjp_bz_events', 'mkt_agg_srefeature',
       'mkt_fac_adjustcampaignkpis',
       'mkt_fac_bz_canvas_attr_rider_allevents_13m',
       'mkt_fac_bz_canvas_attribution_rider',
       'mkt_fac_linkedincampaigngroupreport',
       'mkt_fac_linkedincampaignreport',
       'mkt_fac_mediamath_campaignreports',
       'mkt_fac_smadexcampaignreport', 'mkt_fac_srefeature',
       'mkt_fac_srefeature_covidbase', 'mkt_fac_srefeature_his',
       'mkt_fac_srefeature_mondays', 'ops_agg_client', 'ops_agg_driver',
       'ops_agg_user', 'ops_agg_user_region',
       'ops_fac_dolos_frauddetected', 'prt_fac_zendeskticket'],
      dtype=object)

In [23]:
sql = '''
select
    distinct
    sk_agency,
    cd_country
from
    datawarehouse.ops_dim_agency
'''
data = pd.read_sql_query(sql, dwh_cnx)
data

    sk_agency cd_country
0          -1       None
1           1         BR
2           2         PT
3           3         DO
4           4         PA
5           5         UY
6           6         MX
7           7         CR
8           8         PE
9           9         BO
10         10         ES
11         11         CO
12         12         JP
13         13         CL
14         14         AR
15         15         EC
16         61         KE

In [11]:
sql = '''
select
    distinct
    ds_product_slug,
    ds_product_name_en
from 
    datawarehouse.ops_mtm_journey
where
    ds_product_slug ilike '%%torito%%'
'''

search = pd.read_sql_query(sql, dwh_cnx)
search

  ds_product_slug ds_product_name_en
0          torito  Envíos Motos Corp

In [25]:
sql = '''
select
    DATE_TRUNC('month', tm_created_at),
    COUNT(DISTINCT sk_request_id)
from
    datawarehouse.fin_fac_journeyprecheck
where 
    in_starred is not null
group by 
    1
'''

search = pd.read_sql_query(sql, dwh_cnx)
search

  date_trunc    count
0 2020-10-01  6923367
1 2021-01-01  6186704
2 2020-07-01  1280550
3 2020-09-01  6152986
4 2020-12-01  9024902
5 2020-11-01  7390849
6 2020-08-01  5352322

In [ ]:
sql = '''
select 
	u.id_user,
	c.id_client,
	s.in_invoiceable,
	p.cd_am_currency,
	MAX(s.dt_date) as last_date,
	COUNT(DISTINCT p.sk_payment) as payments
from 
	datawarehouse.fin_fac_payment p
left join 
	datawarehouse.ops_dim_client c on p.fk_client_id = c.sk_client
left join 
	datawarehouse.fin_dim_invoice i on p.fk_invoice_id = i.sk_invoice
left join 
	datawarehouse.fin_dim_sale s on p.fk_sale_id = s.sk_sale 
left join 
	datawarehouse.ops_dim_user u on p.fk_user_id = u.sk_user
where 
    u.id_user = 'd87fea70054432427ca0885c7b1439cb'
group by 
    1,2,3,4
'''
data = pd.read_sql_query(sql, dwh_cnx)
data

In [16]:
#list(search['column_name'])tm_amount_dated_at

In [238]:
db_connection_str = 'mysql+pymysql://user-iruwielehu:SKoAoLoIybRK5tcm@54.220.205.218/geminis'
db_connection = create_engine(db_connection_str)

In [253]:
mysql = pd.read_sql(f'''
select
    bank_swift,
    bank_branch_number
from
	geminis.companies
where 
    bank_branch_number > 0
    and length(bank_swift) = 0
''', 
con=db_connection)

mysql

   bank_swift  bank_branch_number
0                              62
1                             201
2                              61
3                              87
4                              74
5                               7
6                              74
7                              60
8                               1
9                               1
10                           8888
11                            184
12                              1
13                            185
14                             73
15                             52
16                             79

In [242]:
list(mysql.columns)

['company_id',
 'name',
 'notes',
 'email',
 'telephone',
 'address',
 'city',
 'post_code',
 'bank_holder_name',
 'bank_holder_type',
 'bank_tax_code',
 'bank_tax_code_name',
 'bank_name',
 'bank_account_type',
 'bank_iban',
 'bank_swift',
 'bank_account_number',
 'tax_code',
 'agency_id',
 'agency_time_zone',
 'stale',
 'invoice_period',
 'bank_id',
 'invoice_series',
 'bank_branch_number']

In [18]:
mysql = pd.read_sql(f'''
SHOW FULL processlist;''', 
con=db_connection)

mysql

,Id,User,Host,db,Command,Time,State,Info
0,1,system user,,None,Connect,584259,Waiting for master to send event,None
1,2,system user,,None,Connect,0,Slave has read all relay log; waiting for more...,None
2,16778,root,localhost,None,Sleep,18,,None
3,16786,root,localhost,None,Sleep,5,,None
4,88514,root,localhost,None,Sleep,14088,,None
5,90656,root,localhost,None,Sleep,3,,None
6,90675,user-iruwielehu,cloudsqlproxy~54.220.205.218,geminis,Query,0,starting,SHOW FULL processlist

In [ ]:
mysql = pd.read_sql(f'''
select
    distinct 
        cie.category
from
	geminis.libra_company_invoice_entries cie
''', 
con=db_connection)

mysql

In [14]:
sql = '''
select 
    88.5 - sum(qt_price_local)
from 
    datawarehouse.ops_mtm_journey
where 
    tm_start_local_at >= date_trunc('month',current_date)
and 
    ds_end_state = 'drop off'
and 
    ds_user_email in ('santiago.canas@cabify.com')'''

data = pd.read_sql_query(sql, dwh_cnx)
data

   ?column?
0     43.97

In [60]:
88.5 - 74.55

13.950000000000003

In [77]:
data.to_csv('/Users/santiagocanas/Downloads/data.csv')

In [76]:
data['ds_requested'].unique()

array(['capture-response'], dtype=object)

In [44]:
data[data['id_sale'] == '406849552d464ac0d40f5aa4e782e5ac']

Empty DataFrame
Columns: [fk_sale, id_sale, dt_date, count]
Index: []

In [51]:
sql = '''
with
sales_journey_max as (
	select
		se.fk_journey_id,
		max(s.tm_created_at) as max_tm_created_at
	from
		datawarehouse.fin_dim_sale s
			inner join
		datawarehouse.fin_dim_sale_entries se on s.sk_sale = se.fk_sale
			inner join
		datawarehouse.ops_dim_agency a on s.fk_agency_id = a.sk_agency
	where
		s.dt_date >= date_trunc('week', date_trunc('month',CURRENT_DATE - interval '1 month') - interval '1 week')
	group by 1
),
journey_sale as (
	select
		se.fk_journey_id,
		s.ds_payment_method,
		s.in_invoiceable,
		s.dt_date
	from
		datawarehouse.fin_dim_sale s
			inner join
		datawarehouse.fin_dim_sale_entries se on s.sk_sale = se.fk_sale
			inner join
		sales_journey_max sjm on se.fk_journey_id = sjm.fk_journey_id and s.tm_created_at = sjm.max_tm_created_at
	where
		s.dt_date >= date_trunc('week', date_trunc('month',CURRENT_DATE - interval '1 month') - interval '1 week')
),
neighborhoods as (
	select
		fk_journey_id,
		max(fk_start_neighborhood_id) as fk_start_neighborhood_id,
		max(fk_end_neighborhood_id) as fk_end_neighborhood_id 
	from
		datawarehouse.ops_det_journey_neighborhoods
	group by 1
)

	select
		ci.sk_companyinvoice,
		ci.id_companyinvoice,
		ci.cd_code, 
		ci.dt_date,  
		ci.dt_value_date,
		ci.cd_currency,
		ci.ds_state,
		ci.ds_notes, 
		ci.ds_issuer_name,
		ci.cd_invoicexpress_sequence_number,
		ci.id_invoicexpress_id,
		ci.tm_updated_at,
		ci.ds_tax_region_state,
		ci.fk_company_id,
		case
			when j.fk_driver_id <> -1 then j.fk_driver_id
			when py.fk_driver_id <> -1 then py.fk_driver_id
			when pe.fk_driver_id <> -1 then pe.fk_driver_id
			when bn.fk_driver_id <> -1 then bn.fk_driver_id
			else -1
		end as fk_driver_id,
		a.cd_country,
		case when a.cd_country = 'AR' THEN coalesce(n.ds_district, '') ELSE '' END as district,
		coalesce(j.fk_region_id, -1) as fk_region_id,
		coalesce(j.fk_product_id, -1) as fk_product_id,
		bn.ds_category as bonus_category,
		py.ds_category as payouts_category,
		pe.ds_category as penalties_category,
		cie.fk_journey_id <> -1 as in_cost_variable,
		cie.fk_driver_bonus_id <> -1 as in_cost_fixed_bonus,
		cie.fk_driver_penalty_id <> -1 as in_cost_fixed_penalty,
		(cie.qt_price * cie.qt_quantity) / cur.qt_divisor as amount,
		cie.qt_quantity,
		cie.ds_tax_code,
		case
			when cie.ds_tax_code = 'iva'     then ci.qt_ti_iva_rate  / 100
			when cie.ds_tax_code = 'iva2'    then ci.qt_ti_iva2_rate / 100
			when cie.ds_tax_code = 'igv'     then ci.qt_ti_igv_rate  / 100
			when cie.ds_tax_code = 'iva_red' then ci.qt_ti_ivar_rate / 100
			when cie.ds_tax_code is not null then coalesce(ci.qt_ti_ivar_rate,ci.qt_ti_iva_rate,ci.qt_ti_iva2_rate,ci.qt_ti_igv_rate, 0.0) / 100
			else 0.0
		end as rate,
		case
			when cie.ds_tax_code = 'iva'     then (100+ci.qt_ti_iva_rate)  / 100
			when cie.ds_tax_code = 'iva2'    then (100+ci.qt_ti_iva2_rate) / 100
			when cie.ds_tax_code = 'igv'     then (100+ci.qt_ti_igv_rate)  / 100
			when cie.ds_tax_code = 'iva_red' then (100+ci.qt_ti_ivar_rate) / 100
			when cie.ds_tax_code is not null then (100+coalesce(ci.qt_ti_ivar_rate,ci.qt_ti_iva_rate,ci.qt_ti_iva2_rate,ci.qt_ti_igv_rate, 0.0)) / 100
			else 0.0
		end as rate_base_taxable,
		cie.fk_driver_payout_id <> -1 and py.ds_category in ('cash','pos','cash_fleet_extractor') as in_payouts_cash,
		cie.fk_driver_payout_id <> -1 and py.ds_category in ('cashout') as in_payouts_cashout,
		cie.fk_driver_payout_id <> -1 and py.ds_category in ('cash_margin_wallet_adjustment') as in_payouts_wallet,
		cie.fk_driver_payout_id <> -1 and py.ds_category in ('topup_electronic') as in_payouts_transfer,
		cie.fk_driver_payout_id <> -1 and py.ds_category not in('cash_margin_wallet_adjustment','cashout','cash','pos','cash_fleet_extractor','topup_electronic') as in_payouts_other,
		case when cie.fk_journey_id <> -1 then 1 else 0 end as ci_entries,
		case when cie.fk_journey_id = -1 then 1 else 0 end as ci_bpp_entries,
		j.tm_start_local_at as j_start_local_at,
		j.tm_end_local_at as j_end_local_at,
		j.id_journey,
                j.ds_charge_code as journey_cost_center,
		js.in_invoiceable,
		js.dt_date as sale_date,
		js.ds_payment_method,
		t.ds_icon,
		coalesce(t.fk_region_id, -1) as t_fk_region_id,
		cli_r.ds_role as cli_role,
		cli.cd_tax_code as cli_tax_code,
		ci.tm_created_at
	from 
		datawarehouse.fin_fac_companyinvoice ci 
			inner join
		datawarehouse.fin_fac_companyinvoice_entries cie on cie.fk_companyinvoice = ci.sk_companyinvoice
			inner join
		datawarehouse.ops_fac_driverpayout py on py.sk_driverpayout = cie.fk_driver_payout_id
			inner join
		datawarehouse.ops_fac_driverpenalty pe on pe.sk_driverpenalty = cie.fk_driver_penalty_id
			inner join
		datawarehouse.ops_fac_driverbonus bn on bn.sk_driverbonus = cie.fk_driver_bonus_id
			inner join
		datawarehouse.corp_dim_currencies cur on cur.cd_currency = ci.cd_currency
			inner join
		datawarehouse.ops_dim_agency a  on ci.fk_agency_id = a.sk_agency
			left join
		datawarehouse.ops_fac_journey j on j.sk_journey = cie.fk_journey_id
			left join
		datawarehouse.ops_dim_taxi t on j.fk_taxi_id = t.sk_taxi
			left join 
		neighborhoods jn on cie.fk_journey_id = jn.fk_journey_id
			left join
		datawarehouse.ops_dim_neighborhoods n on jn.fk_start_neighborhood_id = n.sk_neighborhood
			left join
		datawarehouse.ops_dim_client cli on j.fk_client_id = cli.sk_client
			left join
		datawarehouse.ops_dim_client_role cli_r on cli.fk_client_role_id = cli_r.sk_client_role
			left join
		journey_sale js on cie.fk_journey_id = js.fk_journey_id
	where
		ci.id_companyinvoice = '2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e'
    '''
data = pd.read_sql_query(sql, dwh_cnx)
data

,sk_companyinvoice,id_companyinvoice,cd_code,dt_date,dt_value_date,cd_currency,ds_state,ds_notes,ds_issuer_name,cd_invoicexpress_sequence_number,...,id_journey,journey_cost_center,in_invoiceable,sale_date,ds_payment_method,ds_icon,t_fk_region_id,cli_role,cli_tax_code,tm_created_at
0,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,C3B84DB6-2A54-11EB-940A-9593AE55B97A,None,False,2020-11-19,electronic,lite,4,private,None,2020-11-25 08:35:53.815
1,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,-1,None,True,2020-11-25,None,None,-1,None,None,2020-11-25 08:35:53.815
2,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,-1,None,True,2020-11-25,None,None,-1,None,None,2020-11-25 08:35:53.815
3,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,-1,None,True,2020-11-25,None,None,-1,None,None,2020-11-25 08:35:53.815
4,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,-1,None,True,2020-11-25,None,None,-1,None,None,2020-11-25 08:35:53.815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,4342B182-2912-11EB-AD49-3D80054DDAE7,None,False,2020-11-17,electronic,lite,4,private,None,2020-11-25 08:35:53.815
141,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,91B4F8E0-2B4F-11EB-8055-35E951960CF4,None,False,2020-11-20,electronic,lite,4,private,None,2020-11-25 08:35:53.815
142,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,7128B69A-2B57-11EB-92EF-89587441F0D6,None,False,2020-11-20,electronic,lite,4,private,None,2020-11-25 08:35:53.815
143,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,7AFF9978-2C14-11EB-8720-2B470D138A7D,None,False,2020-11-21,electronic,lite,4,private,None,2020-11-25 08:35:53.815
144,9788688,2b9e5858-59fa-4c9f-9116-6e6ec6dd8b0e,CBFY-F2020-00050,2020-11-25,None,EUR,closed,None,"Prestige and Limousine, S.L.",None,...,13873791-28f1-11eb-a21d-930ae3b227d0,None,False,2020-11-17,electronic,lite,4,private,None,2020-11-25 08:35:53.815

In [3]:
(82 + 86 + 92 + 106 + 115 + 106 + 104)/(24*7)

4.113095238095238